src/main/mule/bank-account-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <http:listener-config name="bank-account-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="bank-account-api-config" api="bank-account-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="c7851ac8-f3f7-45c0-9cab-2f191fa35fdf" >
		<snowflake:snowflake-connection accountName="PTWXDSX-CF63578" warehouse="COMPUTE_WH" database="HOSPITALLOCATORDB" schema="PUBLIC" user="SINGSING" password="Narsing@12345678" role="ACCOUNTADMIN" />
	</snowflake:snowflake-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="252536cc-3b8a-4c42-9119-1acedbcb8a05" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="narsingbeesetti06@gmail.com" password="kejo yanz wjpo vnum" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="bank-account-api-main">
        <http:listener config-ref="bank-account-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="bank-account-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bank-account-api-console">
        <http:listener config-ref="bank-account-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bank-account-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\accounts\(accountNumber):bank-account-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="7ed33057-9ee1-47ad-9c90-44cd5c4f0ee7" message="----------------------------------Start Flow------------------------------"/>
		<snowflake:select doc:name="verify account" doc:id="f1a547b8-8876-4265-8994-0b1c5946e954" config-ref="Snowflake_Config" target="deReq">
			<snowflake:sql ><![CDATA[select * from bank_cust_detailes where accountNumber = :accountNumber;]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"accountNumber": attributes.uriParams.accountNumber[0]
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<choice doc:name="Choice" doc:id="30668afa-8c76-4af1-956d-ceaca436e7da" >
			<when expression="#[sizeOf(vars.dbResp default []) &gt; 0]">
				<ee:transform doc:name="Account doesn't exit" doc:id="2dbcae7c-138c-4b35-8079-1632df41c920" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Account doesn't exist",
	"accountNumber": payload.ACCOUNTNUMBER[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<snowflake:delete doc:name="Delete account from db" doc:id="92b33e45-cb11-4366-868f-ff4173a3fe41" config-ref="Snowflake_Config" target="dbResp">
					<snowflake:sql><![CDATA[delete from bank_cust_detailes where accountNumber = :accountNumber]]></snowflake:sql>
					<snowflake:input-parameters><![CDATA[#[{
	accountNumber: attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
				</snowflake:delete>
				<ee:transform doc:name="response" doc:id="81ad5d51-2821-477a-942e-55a9fa71bfba">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "Account deactivated successfully",
  "accountNumber": attributes.uriParams.accountNumber
} ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="patch:\accounts\(accountNumber):application\json:bank-account-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="4c942ff7-7133-47a6-8b7a-6f6c3ca9cc24" message="---------------------------Start Flow---------------------------"/>
		<snowflake:select doc:name="Select" doc:id="bb332b89-011c-430b-9ff6-3e3e5d53f8db" config-ref="Snowflake_Config" target="dbReq">
			<snowflake:sql ><![CDATA[select * from bank_cust_detailes where accountNumber = :accountNumber]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	accountNumber: attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="Transform Message" doc:id="272d3241-3aa3-47c9-ba2e-ea008c7d28e0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="92e65780-4edf-453a-aded-ef6f89dab70c" >
			<when expression="#[sizeOf(vars.dbResp default []) &gt; 0]">
				<ee:transform doc:name="no changes required" doc:id="d285528b-be99-4091-93de-1617c5b6334c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"message": "Account not found",
    "accountNumber": payload.ACCOUNTNUMBER[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<snowflake:update doc:name="Update requested data" doc:id="8e862d0f-4abb-4b87-9ed0-ca56cbd3413b" config-ref="Snowflake_Config" target="dbresponse">
					<snowflake:sql><![CDATA[update BANK_CUST_DETAILES set FullName = :FullName, mobileNumber = mobileNumber where accountNumber = :accountNumber;]]></snowflake:sql>
					<snowflake:input-parameters><![CDATA[#[{
	"FullName": vars.dbReq.FULLNAME,
	"mobileNumber": vars.dbReq.MOBILENUMBER,
	"accountNumber": attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
				</snowflake:update>
				<ee:transform doc:name="response" doc:id="474fa0d5-cb19-42fe-a71b-9475e7a1cbc7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"message": "Account updated successfully",
    "accountNumber": vars.dbReq.ACCOUNTNUMBER[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\accounts\(accountNumber):bank-account-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="f9a1faa7-209d-4755-8b86-8aba6d5a726f" message="-------------------------------Start Flow----------------------------------"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputPayload" doc:id="f86a0085-de19-448b-ad0f-08b435747138" variableName="inputPayload"/>
		<snowflake:select doc:name="verify account" doc:id="b9d2df4b-ec83-4a25-bcc3-32eb1afe61ba" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select * from bank_cust_detailes where accountNumber = :accountNumber]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"accountNumber": attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<choice doc:name="Choice" doc:id="c1f60d3c-4848-4f99-89a2-6c5afa915fb3" >
			<when expression="#[isEmpty(payload)]">
				<ee:transform doc:name="Account not found" doc:id="60fce1c3-3052-4fdc-8d91-c391d47b119d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Account not found",
	"accountNumber": payload.ACCOUNTNUMBER[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="response" doc:id="d2521d46-4a6f-445f-a7a2-0095c36b169a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( item , index ) -> {
	accountNumber: item.ACCOUNTNUMBER,
	FullName: item.FULLNAME,
	dateOfBirth: item.DATEOFBIRTH as String,
	mobileNumber: item.MOBILENUMBER,
	email: item.EMAIL,
	address: item.ADDRESS
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="0149c57b-80e9-4b34-9005-bb814fa09e51" message="----------------------------End Flow------------------------#[payload]"/>
			</otherwise>
		</choice>
    </flow>
	<flow name="post:\accounts:application\json:bank-account-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="9bd75d2a-8b14-44b6-ad9f-c77d94e7ce84" message="----------------------------Start Flow-------------------"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	adharNumber: attributes.queryParams.adharNumber,&#10;	bankName: attributes.queryParams.bankName&#10;}]" doc:name="inputAttributes" doc:id="3a7ef8df-c8e5-4e4f-95bd-80b779893e8a" variableName="inputAttributes"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputPayload" doc:id="485cb53a-36a3-48e0-921d-ac61769dafac" variableName="inputPayload"/>
		<snowflake:select doc:name="verify account" doc:id="189a1357-a05c-41ef-be38-8479b542d457" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select accountNumber from bank_cust_detailes where email = :email and dateOfBirth = :dateOfBirth and adharNumber = :adharNumber and mobileNumber = :mobileNumber
]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	"email": payload.email,
	"dateOfBirth": payload.dateOfBirth,
	"mobileNumber": payload.mobileNumber,
	"adharNumber": vars.inputAttributes.adharNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="After DB" doc:id="df505544-b8ab-4982-97bf-89f786b5c99c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="a54ec12b-6944-48c3-89af-adc1ca0ee2d9" >
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Account aready existed" doc:id="02fce2f1-875d-4f37-9b5d-fe5fb5a58f97" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "message": "Account already exists",
    "accountNumber": payload.ACCOUNTNUMBER,
    "adharNumber": vars.inputAttributes.adharNumber,
    "bankName": vars.inputAttributes.bankName
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="The customer account is already existed in DB" doc:id="a5296149-7c58-4815-a1ff-c50c65d092e6" message="----------------------------The customer account is already existed in DB--------------------------"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Account Number creation" doc:id="cab84b90-2ffd-408b-9c27-7a1d82027ebe" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    accountNumber: (floor(random() * 10000) + 8569745686) as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload.accountNumber]" doc:name="accountNumber" doc:id="837dd982-251e-4165-8027-513de32606f5" variableName="accountNumber"/>
				<snowflake:insert doc:name="Insert data " doc:id="27a702d4-244e-45cb-84b6-5a341c069233" config-ref="Snowflake_Config" >
					<snowflake:sql ><![CDATA[insert into bank_cust_detailes(FullName,dateOfBirth,mobileNumber,bankName,email,address,adharNumber,accountNumber)
values (:FullName, :dateOfBirth, :mobileNumber, :bankName, :email, :address, :adharNumber, :accountNumber);]]></snowflake:sql>
					<snowflake:input-parameters ><![CDATA[#[{
	"FullName": vars.inputPayload.FullName,
	"dateOfBirth": vars.inputPayload.dateOfBirth,
	"mobileNumber": vars.inputPayload.mobileNumber,
	"email": vars.inputPayload.email,
	"address": vars.inputPayload.address,
	"adharNumber": vars.inputAttributes.adharNumber,
	"accountNumber": vars.accountNumber,
	"bankName": vars.inputAttributes.bankName
}]]]></snowflake:input-parameters>
				</snowflake:insert>
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;"Hi "++ vars.inputPayload.FullName as String ++ " your bank account created successfully in " ++ vars.inputAttributes.bankName ++ " and your account number is " ++ vars.accountNumber]' doc:name="emailBody" doc:id="6d4ce37a-2476-46a0-bbbf-523778f8e300" variableName="emailBody"/>
				<parse-template doc:name="Parse Template" doc:id="72720d5c-6a5c-4d1e-aa1c-b07d565c60a6" >
					<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Welcome&lt;/h1&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
    &lt;h6&gt;Note: This is an automated email. Please do not reply to this email.&lt;/h6&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
				<email:send doc:name="Send" doc:id="d45b931a-42e9-4eac-b1ea-d68f7b326cbf" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Account created successfully in -" ++ vars.inputAttributes.bankName]'>
					<email:to-addresses >
						<email:to-address value="#[vars.inputPayload.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
				<ee:transform doc:name="response" doc:id="d8efd163-3885-4189-8991-a18993823cac">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account created successfully",
  accountNumber: vars.accountNumber
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
</mule>
